{% extends 'base.html.twig' %}

{% block title %}Food{% endblock %}

{% block body %}
    
    <div class="row col-md-12">
        <div class="col-md-9 food_display">
            <h2>{{ food.title }}</h2>

            <p>{{ food.description }}</p>
            <p>{{ average }}</p>


            <a href="{{ path('review_new', {'id': food.id}) }}">Add review</a>

            {% for review in reviews %}
            <div class="row review_item">
                <div class="col=md-3">
                    <img src="\images\full_star.png">
                </div>
                <div class="col-md-9">
                    <p>
                        <span style="margin-top:10px; float: left;"> {{ review.addedBy.username }} </span>
                        <span style="float: right;">
                             {% set starsLeft = 0 %}
                            {% for i in range(1, review.stars, 1) %}
                                {% set starsLeft = i %}
                                <img class="review_star" src="/images/full_star.png" alt="star">
                            {% endfor %}
                            {%  if review.stars - starsLeft != 0%}
                                <img class="review_star" src="/images/half_star.png" alt="star">
                            {% endif %}
                        </span>
                    </p>
                    <p style="clear: both">
                        <p style="float: left">Date of review : {{ review.date |date('d/m/Y') }}</p>
                        <p style="float:right;">Price payed : €{{ review.price |number_format(2) }}</p>
                    </p>
                    <p style="clear: both">
                        <p>{{ review.summary }}</p>
                    </p>
                    <p style="float: right">
                        <a href="{{ url('vote_new', {'id': review.id, 'food_id': food.id, 'vote': 1}) }}"> <img src="/images/thumb_up.png" alt="thumb_up"></a>
                        <a href="{{ url('vote_new', {'id': review.id, 'food_id': food.id, 'vote': -1}) }}"><img src="/images/thumb_down.png" alt="thumb_down"></a>
                    </p>
                    <p style="clear: both"></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% if photos is not null %}
                <img src="{{ photos[0] }}">
            {% endif %}
        </div>
    </div>

    {#<h1>Food</h1>#}

    {#<table>#}
        {#<tr>#}
            {#<th>Id</th>#}
            {#<td>{{ food.id }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Title</th>#}
            {#<td>{{ food.title }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Summary</th>#}
            {#<td>{{ food.summary }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>PhotoLink</th>#}
            {#<td>{{ food.photoLink }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Description</th>#}
            {#<td>{{ food.description }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Price</th>#}
            {#<td>{{ food.price }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>DateAdded</th>#}
            {#<td>{{ food.dateAdded ? food.dateAdded|date('Y-m-d') : '' }}</td>#}
        {#</tr>#}

    {#</table>#}

    {#<a href="{{ path('food_index') }}">back to list</a>#}

    {#<a href="{{ path('food_edit', {'id': food.id}) }}">edit</a>#}

    {#{% include 'food/_delete_form.html.twig' with {'identifier': food.id} only %}#}

{% endblock %}