{% extends 'base.html.twig' %}

{% block title %}Food index{% endblock %}

{% block body %}


    <h1> Food list</h1>

    <div class="row col-md-12">
        <div class="row col-md-10">
            {% set i = 0 %}
            {% for food in foods %}

                <div class="col-md-4">
                    <a href="{{ path('food_show_detail', {'id': food.id}) }}">
                        <h3>{{ food.title }}</h3>
                        {% if photos[i] is not null and photos[i] != "none"%}
                            <img class="food_main" src="{{ photos[i] }}" alt ="{{ food.title }} image">
                        {% elseif photos[i] == "none" %}
                            <img class="food_main" src="/images/full_star.png" alt ="{{ food.title }} image">
                        {% endif %}
                        {% set i = i + 1 %}
                        <p>{{ food.summary }}</p>
                        <p>Click to view reviews</p>
                    </a>
                </div>

            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-primary" role="alert">
                        There is no foods available. There maybe more available if you register!
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-2" style="background: #000000" >
            <p style="color: #FFFFFF">Filter options</p>
            <form action="{{ path('food_process_search') }}" method="POST">
                <p>
                    <label for="text_search">Text Search</label>
                    <input type="text" name="text_search" id="text_search">
                </p>
                <p>
                    <label for="date_search">Date Search</label>
                    <input type="date" name="date_search" id="date_search">
                </p>
                <p>
                    <label for="text_search">Price range</label><br>
                    <input type="radio" name="price_range" value="" checked> choose range<br>
                    <input type="radio" name="price_range" value="0"> €0 - 1<br>
                    <input type="radio" name="price_range" value="1"> €1 - 3<br>
                    <input type="radio" name="price_range" value="2"> €3 - 5<br>
                    <input type="radio" name="price_range" value="2"> €5 or more<br>
                </p>
                <p>
                    <input type="submit" value="Search foods">
                </p>
            </form>
        </div>
    </div>


    <div class="col-md-4" style="background: #000000" >

    </div>



    {#<h1>Food index</h1>#}
    {#<table>#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Id</th>#}
    {#<th>Title</th>#}
    {#<th>Summary</th>#}
    {#<th>PhotoLink</th>#}
    {#<th>Description</th>#}
    {#<th>Price</th>#}
    {#<th>DateAdded</th>#}
    {#<th>actions</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for food in foods %}#}
    {#<tr>#}
    {#<td>{{ food.id }}</td>#}
    {#<td>{{ food.title }}</td>#}
    {#<td>{{ food.summary }}</td>#}
    {#<td>{{ food.photoLink }}</td>#}
    {#<td>{{ food.description }}</td>#}
    {#<td>{{ food.price }}</td>#}
    {#<td>{{ food.dateAdded ? food.dateAdded|date('Y-m-d') : '' }}</td>#}
    {#<td>#}
    {#<a href="{{ path('food_show', {'id': food.id}) }}">show</a>#}
    {#<a href="{{ path('food_edit', {'id': food.id}) }}">edit</a>#}
    {#</td>#}
    {#</tr>#}
    {#{% else %}#}
    {#<tr>#}
    {#<td colspan="8">no records found</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}
    {#<a href="{{ path('food_new') }}">Create new</a>#}

{% endblock %}