{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }}'s Food List{% endblock %}

{% block body %}

    <h1 style="text-align: center">{{ app.user.username }}'s Food list</h1>

    <div style="margin-left: 50px">
        <a href="{{ path('home')}}" >Back to Home</a>
    </div>


    <table class="table table-sm" style="margin-top: 40px">
        <tr>
            <th>Food ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Summary</th>
            <th>Date Added</th>
            <th>Edit Food</th>
            <th>Delete Food</th>
        </tr>
        <tbody>
        {% for food in foods %}
            <tr>
                <td><a href="{{ path('food_show_detail', {'id': food.id}) }}" >{{ food.id }}</a></td>
                <td><a href="{{ path('food_show_detail', {'id': food.id}) }}" >{{ food.title }}</a></td>
                <td>{{ food.category.category }}</td>
                <td>{{  food.summary }}</td>
                <td>{{ food.dateAdded|date('Y-m-d') }}</td>
                <td><a href="{{ path('food_edit', {'id': food.id}) }}" >Update</a></td>
                <td><a href="{{ path('food_delete', {'id': food.id}) }}" >Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
