{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}

    <h1 style="text-align: center">Suggested public food list</h1>

    <div style="margin-left: 50px">
        <a href="{{ path('admin_home')}}" >Back to Admin panel</a>
    </div>

    <table class="table table-sm" style="margin-top: 40px">
        <tr>
            <th>Suggestion ID</th>
            <th>Food Name</th>
            <th>Category</th>
            <th>Accept</th>
            <th>Deny</th>
        </tr>
        <tbody>
        {% for food in suggestedfoods %}
            <tr>
                <td><a href="{{ path('food_show_detail', {'id': food.food.id}) }}" >{{ food.id }}</a></td>
                <td><a href="{{ path('food_show_detail', {'id': food.food.id}) }}" >{{ food.food.title }}</a></td>
                <td>{{ food.food.category.category }}</td>

                <td><a href="{{ path('admin_accept', {'id' : food.food.id}) }}">Accept public</a> </td>
                <td><a href="{{ path('admin_reject', {'id' : food.food.id}) }}">Reject public</a> </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
