{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}

    <h1 style="text-align: center">Suggested public list</h1>

    <div style="margin-left: 50px">
        <a href="{{ path('admin_home')}}" >Back to Admin panel</a>
    </div>

    <table class="table table-sm" style="margin-top: 40px">
        <tr>
            <th>Suggestion ID</th>
            <th>Food Name</th>
            <th>Accept</th>
            <th>Deny</th>
        </tr>
        <tbody>
        {% for review in suggestedReviews %}
            <tr>
                <td><a href="{{ path('food_show_detail', {'id': review.review.food.id}) }}" >{{ review.id }}</a></td>
                <td><a href="{{ path('food_show_detail', {'id': review.review.food.id}) }}" >{{ review.review.food.title }}</a></td>

                <td><a href="{{ path('admin_accept_review', {'id' : review.review.id}) }}">Accept public</a> </td>
                <td><a href="{{ path('admin_reject_review', {'id' : review.review.id}) }}">Reject public</a> </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
