{% extends 'base.html.twig' %}

{% block title %}{{app.user.username }}'s Review List{% endblock %}

{% block body %}


    <h1 style="text-align: center">{{ app.user.username }}'s Review list</h1>

    <div style="margin-left: 50px">
        <a href="{{ path('home')}}" >Back to Home</a>
    </div>


    <table class="table table-sm" style="margin-top: 40px">
        <tr>
            <th>Review ID</th>
            <th>Comment</th>
            <th>Food</th>
            <th>Score</th>
            <th>Date Added</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.summary }}</td>
                <td><a href="{{ path('food_show_detail', {'id': review.food.id}) }}" {{ review.food.title }}</td>
                <td>{{  review.stars }}</td>
                <td>{{ review.date|date('Y-m-d') }}</td>
                <td><a href="{{ path('review_edit', {'id': review.id}) }}" >Update</a></td>
                <td><a href="{{ path('review_delete', {'id': review.id}) }}" >Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
